body{
    background-color: rgb(190, 216, 246);
    }
    
    @media only screen and (max-width: 750px) {
     
            .name{
                color: red;
                font: 25px
            }
    
            .description{
            
                color: red;
            }
    
            .left_div{
                width: 250px;
            }
    
    
      }
    
    .App{
     
    
        display: flex;
        justify-content: center;
        
        header{
    
            
    
            width: 1050px;
            display: flex;
            margin-top: 40px;
            justify-content: center;
           
            
    
            .left_div{
    
                width: 350px;
                text-align: left;
                padding: 40px;
                
                
              
    
                .name{
    
                    font-size: 45px;
                    font-weight: bold;
                    
                }
                
                .last_name{
    
                    font-size: 45px;
                    font-weight: bold;
                    color: orange;
    
                }
    
                .status{
    
                    color: red;
                    font-size: 25px;
                    margin: 15px 0px 15px 0px
    
                }
    
                .description{
    
                    width: 350px;
                    font-size: 20px;
    
                }
    
            }
    
            .right_div{
    
                width: 300px;
                
                
    
    
                .img{
    
                    max-width: 300px;
                    height: 300px;
                    border-radius: 150px;
                }
    
            }
        }
    }
    
    
    
    